Flask
langchain
langchain_chroma
langchain_community
langchain_huggingface
transformers
torch
sentence-transformers
python-dotenv
FlagEmbedding
markdown
google-generativeai
groq
Pillow
scikit-learn
bert-score
psutil
uuid
numpy
matplotlib
seaborn
base64
io
re
os
sys
typing
requests
plantuml